@page "/Demo_BlazorSession"

@* for disposing dno *@
@implements IDisposable


<h2>BlazorSession:</h2>
<p>Each page has an unique BlazorSession object</p>


@if (BlazorSession.Current.Browser == null)
{
	//wait BlazorSession.Current.Browser ready
	BlazorSession.Current.EvalCodeAsync("console.log('hello?')").ContinueWithSession(delegate
	{
		StateHasChanged();
	});
	return;
}


<style>
	legend {
		font-size: 20px;
		font-weight: bold;
		margin: 0px;
	}

	.mywarningtoast {
		background-color: orange !important;
		color: darkgreen !important;
	}
</style>

<fieldset>
	<legend>Browser Toast:</legend>
	<div>Say something witout clicking OK ,all previous items with same key will be cleared</div>
	<button @onclick='()=>BlazorSession.Current.Toast("Time Is "+DateTime.Now.ToString("HH:mm:ss.fff"),2000)'>Toast</button>
	<button @onclick='()=>BlazorSession.Current.ToastClear()'>ToastClear</button>
	<button @onclick='()=>BlazorSession.Current.Toast("Time Is "+DateTime.Now.ToString("HH:mm:ss.fff"),2000,"mytimetoast")'>Toast With Key</button>
	<button @onclick='()=>BlazorSession.Current.Toast("The action is failed.",2000,"mywarningtoast")'>Key as css class</button>
</fieldset>

@code{
	void DoSetSessionData()
	{
		int sid = BlazorSession.Current.SessionId;
		int num = new Random().Next(1000, 9999);
		BlazorSession.Current["magicnumber"] = num;
		BlazorSession.Current.Alert("SetSessionData", "Session Id is " + sid + ", magic number is " + num + " , try to switch to another tab and back , click Read Session Data");
	}
	void DoReadSessionData()
	{
		int sid = BlazorSession.Current.SessionId;
		int num = 0;
		object objnum = BlazorSession.Current["magicnumber"];
		if (objnum != null)
			num = (int)objnum;
		if (objnum == null)
			BlazorSession.Current.Alert("ReadSessionData", "Session Id is " + sid + ", but there's no magic number. If you ever refreshed the page , the session will be resetted");
		else
			BlazorSession.Current.Alert("ReadSessionData", "Session Id is " + sid + ", magic number is " + num + " , try to switch to another tab and back , click Read Session Data");
	}
	void DoGetSessionDataCount()
	{
		Dictionary<object, object>
			map = BlazorSession.Current.GetItemMap(false);
		if (map == null)
			BlazorSession.Current.Toast("There's no any session data");
		else
			BlazorSession.Current.Toast("Session Data Count : " + map.Count);
	}
}

<br />
<fieldset>
	<legend>Browser Console:</legend>
	<div>open browser console to check the logs</div>
	<button @onclick='()=>BlazorSession.Current.ConsoleLog("Current Date Is",DateTime.Now)'>ConsoleLog</button>

	<button @onclick='()=>BlazorSession.Current.ConsoleInfo("Current Date Is",DateTime.Now)'>ConsoleInfo</button>

	<button @onclick='()=>BlazorSession.Current.ConsoleWarn("Current Date Is",DateTime.Now)'>ConsoleWarn</button>

	<button @onclick='()=>BlazorSession.Current.ConsoleError("Current Date Is",DateTime.Now,Environment.StackTrace)'>ConsoleError</button>
</fieldset>

<br />
<fieldset>
	<legend>Browser JavaScript:</legend>
	<div>Interactive with browser script. <a href="/Demo_JavaScript" style="display:none;">More JavaScript Sample</a></div>
	<div>It's not recommanded to use localStorage to store sensitive data in browser</div>
	<button @onclick='DoEvalCode'>EvalCode</button>
	<button @onclick='DoSetLocalStorage'>localStorage.setItem</button>
	<button @onclick='DoGetLocalSotrange'>localStorage.getItem</button>
	<button @onclick='DoTestClientCallback'>Client Callback</button>

</fieldset>

@code{
	void DoEvalCode()
	{
		//use arguments array
		BlazorSession.Current.EvalCode("alert(arguments[0])", "This is argument 0");
	}
	void DoSetLocalStorage()
	{
		//Use InvokeFunction to pass parameters more easily
		BlazorSession.Current.InvokeFunction("localStorage.setItem", "demo-index-value", DateTime.Now.Ticks.ToString());
		BlazorSession.Current.Alert("Done", "demo-index-value has been added to localStorage");
	}

	async void DoGetLocalSotrange()
	{
		string value = await BlazorSession.Current.EvalCodeAsync<string>("console.log('get localStorage'); return localStorage.getItem('demo-index-value')");
		long ticks;
		if (!long.TryParse(value, out ticks))
		{
			BlazorSession.Current.Alert("Error", "You never set the 'demo-index-value'");
		}
		else
		{
			TimeSpan ts = DateTime.Now - new DateTime(ticks);
			BlazorSession.Current.Alert("demo-index-value", "You set 'demo-index-value' " + Math.Ceiling(ts.TotalSeconds) + " seconds ago\r\nReload this page and try again.");
		}
	}

	void DoTestClientCallback()
	{
		if (dno != null)
		{
			BlazorSession.Current.ToastClear();
			BlazorSession.Current.Toast("another job is running");
			return;
		}

		dno = DotNetObjectReference.Create(this);

		BlazorSession.Current.EvalCode(@"
var dno=arguments[0];
console.log(dno);
Toast('wait for 0.8 sec',800);
setTimeout(function(){
dno.invokeMethodAsync('_Index_ClientCallbackHandler','hello world from client side');
},800);
"
		, dno);
	}

	DotNetObjectReference<Demo_BlazorSession> dno;

	void IDisposable.Dispose()
	{
		if (dno != null)
			dno.Dispose();
	}

	[Microsoft.JSInterop.JSInvokable()]
	public void _Index_ClientCallbackHandler(string msg)
	{
		if (dno != null)
		{
			dno.Dispose();
			dno = null;
		}

		BlazorSession.Current.Alert("Result", msg);
	}
}






<br />
<fieldset>
	<legend>Server Session Data In Memory:</legend>
	<div>Use session data to store session scope data, components can community with each other.</div>
	<button @onclick='DoSetSessionData'>Set Session Data</button>
	<button @onclick='DoReadSessionData'>Read Session Data</button>
	<button @onclick='DoGetSessionDataCount'>Get Session Data Count</button>
</fieldset>



<br />
<fieldset>
	<legend>Server Shared Data For Browser:</legend>
	<div>BlazorPlus save a unique key into cookie/sessionStorage/localStorage and help developer to persist data</div>
	<div>The values are persisted for short/long time <span style="color:red;font-weight:bold">after page refreshed</span></div>
	<div>Your browser uid is : @BlazorBrowser.Current.UniqueID</div>
	<button @onclick='DoSetMemoryItem'>Set Memory Data</button>
	<button @onclick='DoGetMemoryItem'>Read Memory Data</button>
	<button @onclick='DoSetStringItemAsync'>Set Persisted String</button>
	<button @onclick='DoGetStringItemAsync'>Get Persisted String</button>
</fieldset>


@code{
	void DoSetMemoryItem()
	{
		//Memory Data will be resetted for 3 cases :
		// 1 - the application restart
		// 2 - user close all blazor pages after 10 minutes (default configuration)
		// 3 - switch browser, use incognito mode , clear the browser storages etc...
		BlazorBrowser.Current.SetMemoryItem("Time", DateTime.Now.ToLongTimeString());
		BlazorSession.Current.Toast("DONE");
	}
	void DoGetMemoryItem()
	{
		BlazorSession.Current.Alert("Time", "Time = " + BlazorBrowser.Current.GetMemoryItem("Time"));
	}

	async Task DoSetStringItemAsync()
	{
		UIDialogOption option = new UIDialogOption();
		option.Title = "Your message";
		option.Message = "Please type your message to save";
		option.DefaultValue = "Now is " + DateTime.Now.ToLongTimeString();
		string message = await BlazorSession.Current.PromptAsync(option);
		if (string.IsNullOrEmpty(message))
			return;

		//Check the Providers.cs of BlazorPlusDemo
		//by the WebCustomizeSession implementation , the value is storage in BrowserStringItems folder

		await BlazorBrowser.Current.SetStringItemAsync("MyMsg", message);
		BlazorSession.Current.Toast("DONE");
	}
	async Task DoGetStringItemAsync()
	{
		BlazorSession.Current.Alert("MyMsg", "MyMsg = " + await BlazorBrowser.Current.GetStringItemAsync("MyMsg"));
	}
}


<br />
<br />
<br />