@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<br />

@*Install-BlazorPlus*@

<button @onclick="ShowHelloWorld">Hello World</button>
@code{
    void ShowHelloWorld()
    {
        BlazorSession.Current.Alert("Greeting", "Hello World");
    }
}


<br />

<button @onclick="ShowPing">Ping Network Delay</button>
@code{
    async void ShowPing()
    {
        System.Diagnostics.Stopwatch sw = new System.Diagnostics.Stopwatch();
        sw.Start();
        await BlazorSession.Current.JSRuntime.InvokeVoidAsync("console.log", "ping");
        BlazorSession.Current.Toast(sw.ElapsedMilliseconds.ToString() + " ms");
    }
}

