<p>
	More BlazorDomTree Samples:
</p>
<ul>
	<li>
		<a target="_blank" href="Demo_domtree_input_typing">Demo_domtree_input_typing</a>
	</li>
	<li>
		<a target="_blank" href="Tool_WordGenerator">Password Hash Generator</a>
	</li>
	<li>
		<a target="_blank" href="Demo_type_number_in_image">Show verification code</a>
	</li>
	<li>
		<a target="_blank" href="Test_PeerChat">The Chat Room use domtree to render messages</a>
	</li>
</ul>
